*{
    margin: 0px;
    padding: 0px;
}
.top{
    width: 100%;
    height: 50px;
    background-color: black;
}
.top_content{
    width: 75%;
    height: 50px;
    margin: 0px auto;/*上下为0，左右自适应*/
    background-color: blue;
}
.body{
    margin: 20px auto;
    width: 75%;
    height: 1500px;
    background-color: #ff8b36;
}
.body_img{
    width: 100%;
    height: 400px;
    background-color: purple;
}
.body_content{
    width: 100%;
    height: 1100px;
    background-color: chartreuse;
}
.body_no{
    width: 100%;
    height: 50px;
    background-color: aqua;
}
.footing{
    width: 75%;
    height: 400px;
    margin: 0px auto;
    background-color: cornflowerblue;
}
.footing_content{
    width: 100%;
    height: 330px;
    background-color: magenta;
}
.footing_sudaby{
    width: 100%;
    height: 70px;
    background-color: black;
}